<div class=""></div>
<div class="medium-10 large-12"><h2>
  Pipeprofen - an IntelliJ plugin
</h2>

  <p>
    <a href="https://github.com/profbear/pipeprofen/">pipeprofen on github</a>
    | <a href="https://github.com/profbear/pipeprofen/issues">report an issue</a>
  </p>

  <p>
    <b>Run a bash shell command on the selected lines.</b>
    <br/>
    Execute a bash process that pipes the selected lines as
    if they were an input file, same as <b>stdin</b>, through
    a custom bash shell command. The output from the process
    replaces the selection with <b>stderr</b> and <b>stdout</b>.
    Works with multiple carets by piping each selection region
    separately into their own process. Also works with no carets.
  </p>

  <a href="https://plugins.jetbrains.com/plugin/11257-pipeprofen"
     title="visit Pipeprofen plugin @jetbrains"
     class="button expanded">
    jetbrains plugin homepage
  </a>
</div>
<div class="medium-2"></div>
